@import "tailwindcss";

@theme inline {
  --color-primary: #06B6D4;
  --color-hover-accent: #22D3EE;
  --color-bg-dark: #020617;
  --color-glass: rgba(15, 23, 42, 0.7);
  --color-border: rgba(255, 255, 255, 0.08);
}

@layer base {
  body {
    background-color: var(--color-bg-dark);
    color: #E2E8F0;
  }
}